<?php
$title = 'Categories list';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('category', array('action'=>'add'));?>">Add new category</a>
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($categories as $category) : ?>
    <tr>
        <td>
            <a href="<?php echo $this->url('category',
            array('action'=>'view', 'id' => $category->getId()));?>"><?php echo $this->escapeHtml($category->getTitle());?></a>
        </td>
        <td>
            <a href="<?php echo $this->url('category',
            array('action'=>'edit', 'id' => $category->getId()));?>">Edit</a>
            <a href="<?php echo $this->url('category',
            array('action'=>'delete', 'id' => $category->getId()));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>