<?php
    $title = 'Category '.$category['title'];
    $this->headTitle($title);
    print '<h1>Category ' . $category['title'] . '</h1>';
?>
<p>
    <a href="<?php echo $this->url('product', array('action'=>'add'));?>">Add new product</a>
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>&nbsp;</th>
    </tr>
    <?php if(!isset($products) && ($products != null)){ ?>
    <?php foreach ($products as $product) : ?>
    <tr>
        <td><?php echo $this->escapeHtml($product->title);?></td>
        <td>
            <a href="<?php echo $this->url('product',
            array('action'=>'edit', 'id' => $product->id));?>">Edit</a>
            <a href="<?php echo $this->url('product',
            array('action'=>'delete', 'id' => $product->id));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
    <?php } ?>
</table>    