<?php
$title = 'Products list';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('product', array('action'=>'add'));?>">Add new product</a>
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($products as $product) : ?>
    <tr>
        <td>
        <a href="<?php echo $this->url('product',
            array('action'=>'view', 'id' => $product->getId()));?>"><?php echo $this->escapeHtml($product->getTitle());?></a>
        </td>
        <td>
            <a href="<?php echo $this->url('product',
            array('action'=>'edit', 'id' => $product->getId()));?>">Edit</a>
            <a href="<?php echo $this->url('product',
            array('action'=>'delete', 'id' => $product->getId()));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>