<?php
$title = 'Zend tiny shop';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('category', array('action'=>'index'));?>">Categories</a>
</p>
